<div class="forgotForm">


  <h1>Odzyskaj swoje hasło</h1>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="200px">

      <mat-grid-tile>
        <div class="example-container">

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Wpisz swój adres email" type="text" autocomplete="off" formControlName="email">
            <mat-error *ngIf="forgotForm.get('email').errors">{{ this.forgotForm.get('email').hasError('email') ?
              'Nieprawidłowy email' : '' }}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" class="change" type="submit">Wyślij e-mail</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
  <p><a class="underlineHover" routerLink="/login">Wróć do logowania</a></p>
</div>
