<div class="changeForm">


  <h1>Zmień nowe hasło </h1>
  <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">

      <mat-grid-tile>
        <div class="example-container">

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Nowe hasło</mat-label>
            <input matInput placeholder="Min. 8 znaków (Cyfry i litery)" type="password" formControlName="newPassword">
            <mat-error *ngIf="changeForm.get('newPassword').errors">{{
              this.changeForm.get('newPassword').hasError('pattern') ? 'Nieprawidłowe hasło' : '' }}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Powtórz nowe hasło</mat-label>
            <input matInput type="password" formControlName="newPasswordR">
            <mat-error *ngIf="changeForm.get('newPasswordR').errors">{{ this.changeForm.get('newPasswordR').hasError('passwordMismatch')  ? 'Hasła nie pasują ' : 'Wprowadź poprawne hasło' }}</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" [disabled]="changeForm.invalid" class="change" type="submit">Zmień
            hasło</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
<!-- Czasowy przycisk bo potrzeba backend -->
<p><a class="underlineHover" routerLink="/login">Wróć</a></p>
</div>
