 /* .example-radio-button {
  margin-left: 7px;
}

.width-50 {
  width: 49%;
}
.ml-1 {
  margin-left: 1%;
}
.ml-2 {
  margin-left: 2%;
}
.width-100 {
  width: 100%;
}
.width-25 {
  width: 25%;
}
.example-container {
  width: 25%;
}

.change {
  width: 100%;
  height: 45px;
}

mat-form-field {
  padding-bottom: 4px;
}

h1 {
  text-align: center;
}
.changeForm {
  margin-top: 40px;
  text-align: center;
}

a {
  color: black;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3f51b5;
}

a:active {
  box-shadow: none;
  top: 5px;
}  */


.body-style {
  width: 100vw;
  height: 100vh;
  background-color: #f4d1ff;
}


h1, p {
  margin:  0 auto;
  text-align: center;

}


mat-card{
  width: 50vw;
  height: 70%;
  max-width: 500px;
	min-width: 300px;
  margin: -2% auto 0 auto;

}

.title {
  margin-top: 20px;
  margin-bottom: -20px;
}


.changeForm {
  margin: 10% auto 0 auto;
 height: 55%;
 min-height: 600px;
}

.example-container {
  width: 100%;


}

.help {
  width: 80%;
  margin: 0 10%;
}

.change {
  width: 80%;
  margin: 0 10%;
  height:   40px;
}
