<mat-grid-list cols="1" rowHeight="300px">
  <mat-grid-tile>
      <div class="example-container">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Stare hasło</mat-label>
          <input matInput placeholder="Wpisz stare hasło" type="password">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Nowe hasło</mat-label>
          <input matInput placeholder="Min. 8 znaków (Cyfry i litery)" type="password">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Powtórz nowe hasło</mat-label>
          <input matInput  type="password">

        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="change" type="submit">Zmień hasło</button>
      </div>
  </mat-grid-tile>
  </mat-grid-list>
