<!-- <div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
          [(ngModel)]="password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="checkLogin()">
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="/reset-password">Forgot Password?</a>
        <br />
        <a class="underlineHover" href="/register">Register</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrapper">

  </div>
</div>
 -->

<div class="changeForm">


  <h1>Zaloguj się</h1>
  <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <mat-grid-list cols="1" rowHeight="300px">

      <mat-grid-tile>
        <div class="example-container">

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Nazwa użytkownika</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="username">

          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="password">

          </mat-form-field>

          <button mat-raised-button color="primary" class="change" type="submit">Zaloguj się!</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
  <p><a class='underlineHover'routerLink="/register"> Zarejestruj się</a></p>
  <p><a class="underlineHover" routerLink="/forgotpassword"> Zapomniałeś hasła</a></p>
</div>


<!-- <mat-card>
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>End</mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-button>Like</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
