<!-- Zależy od tego jak bedzie wyglądać reszta -->
<!-- <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>

    </mat-expansion-panel-header>

    <app-change-password></app-change-password>
  </mat-expansion-panel>
</mat-accordion> -->

<mat-tab-group>
  <mat-tab label="Profil"> P   rofil czy coś</mat-tab>
  <mat-tab label="Ustawienia">      coś tu będzie</mat-tab>
  <mat-tab label="Zmień hasło">
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>
