<!-- Zależy od tego jak bedzie wyglądać reszta -->
<!-- <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>

    </mat-expansion-panel-header>

    <app-change-password></app-change-password>
  </mat-expansion-panel>
</mat-accordion> -->

<mat-tab-group>
  <mat-tab label="Profil"><p>{{ this.UserService.userData.email + ' ' + this.UserService.userData.firstName + ' ' + this.UserService.userData.lastName + ' ' + this.UserService.userData.lolserver + ' ' + this.UserService.userData.lolusername + ' ' + this.UserService.userData.username }}</p></mat-tab>
  <mat-tab label="Ustawienia"></mat-tab>
  <mat-tab label="Zmień hasło">
    <app-change-password></app-change-password>
  </mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" routerLink="/main">Wróć</button>
